{% extends 'base.html.twig' %}

{% block title %} Contact form success {% endblock %}

{% block body %}
    <div class="alert alert-primary" role="alert">
        {{ success }}
    </div>
{% endblock %}